.error{
    color: red;
}

.cell{
    width: 30px;
    height: 30px;
    vertical-align: center;
    text-align: center;
}

.parameterInput{
    margin: 5px;
    width: 40px;
}

#mainTable td{
    padding: 20px;
    vertical-align: top;
}

.panel{
    margin: 10px;
}

.rotate{
    transform: rotate(90deg);
}

#table{
    margin: auto;
}

button{
    margin: 2px;
}