
.mainTable{
    margin: auto;
    border: 0;
}

.mainTable td{
    padding: 20px;
    vertical-align: top;
    text-align: center;
}

.parameterInput{
    margin: 5px;
    width: 40px;
}

.cell{
    vertical-align: center;
    text-align: center;
    width: 5px;
    height: 5px;
}

.arrayDiv table{
    margin: auto;
}

.arrayDiv{
    margin: 20px;
}


.arrayContainer table td{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.panel{
    margin: 20px;
}

#checkedArrays > td{
    border: 0;
}

.textDiv{
    margin: auto;
    text-align: center;
}
.error{
    color: red;
}

.button{
    margin: 10px;
}

.fraction{
    margin: auto;
}

.fraction td{
    padding: 1px;
    vertical-align: center;
    text-align: center;
}

.expressionRow{
    height: 100px;
}

.expressionCell{
    padding: 10px;
    text-align: center;
}

.circleButton{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
}

.operationSelect{
    border-radius: 50px;
    width: 45px;
    height: 45px;
    text-align: center;
}

.actionButton{
    margin: 10px;
}